button#button, #layout .button{
    -moz-appearance: none;
    transition-duration: 555ms;
    transition-timing-function: ease-out;
    /* transition-timing-function: 26; */
    background-color: red;
    background-color: blue;
    margin-left: 2px;
    box-flex: 1
}

#layout button:hover {
    box-flex: 2;
    /* background-color: yellow; */
    /* margin-left: 200px; */
    /* font-family: KaiTi; */
    /* font-size: 30px; */
    /* font-style: italic; */
    /* font-weight: 600; */
    /* color: cyan */
}

#layout button:active {
    background-color: green
}

#bgimage {
    -moz-appearance: none;
    /* background-size: 60px; */
    background-color: red;
    margin: 2px 3px 4px;
    padding: 10px;
    border-width: 3px;
    background-image: url('../images/25.png');
    background-repeat: round;
    background-origin: content-box
}

.imgButton {
    -moz-appearance: none;
    border-width: 3px;
    /* border-image-source: url(../images/btn.png); */
    /* border-image-slice: 3 fill; */
}